main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

#section-login{
height: 100%;
width: 200px;
border-radius: 10px;
border: 2px solid black;
padding: 10px 20px;
background-color: greenyellow;
}